<%# # for brevities sake, just throwing it all in a single controller/view %>
<h1><%= link_to "Directories", directories_path() %></h1>
<% if @current_directory.present? %>
  <h3><%= @current_directory.name %>  <%= link_to "UP", directories_path(current_id: @current_directory.parent_id ) %></h3>
<% else %>
  <h3>Top</h3>
<% end %>

<% @directories.each do |d| %>
  <p> <%= d.id %> <%= d.name %> <%= link_to "#{d.name}", directories_path(current_id: d.id) %> </p>
<% end %>

<br>
<br>
<h3>notes</h3>
<% @notes.each do |n| %>
  <p> <%= n.id %> <%= n.name %> </p>
<% end %>

<br>
<br>
<h3>Create folder in current dir</h3>
<%= form_for @directory, url: {action: "create"} do |f| %>
  <%= f.text_field :name %>
  <%= f.hidden_field :parent_id, value: @directory.parent_id %>
  <%= f.submit "Create Directory" %>
<% end %>

<br>
<br>
<h3>Create note in current dir</h3>
<%= form_for @note, url: notes_path(@note) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :note_text %>
  <%= f.hidden_field :directories_id, value: @current_directory.present? ? @current_directory.id : nil %>
  <%= f.submit "Create Note" %>
<% end %>

<br>
<br>
<h3>Search</h3>
<%= form_tag directories_path(), method: 'get' do %>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search" %>
<% end %>